 .account-tag {
   /*
   position: absolute;
   top: 0px;
   bottom: 0px;
   */
   position: absolute;
   top: 10px;
   width: 300px;
   height: 70px;
   background: #ffeeba;
   border-radius: 10px;
 }
 .account-tag *{
  margin-left: 60px;
 }
 .account-image{
  position: absolute;
  width: 50px; 
  height: 50px;
  left: -55px;
  top: 10px;
 }
 .contents{
  position: absolute;
  top: 100px;
  left: 350px;
  width: 1000px;
  height: 500px;
  /*background-color: #ffeeba;*/   
  overflow-y: scroll;
 } 
 .contents *{
   display: inline-block;
 }
 .reshipi {
   width: 300px;
   height: 220px;
   background-color: #ffeeba;
   margin-bottom: 20px;
   margin-left: 5px;
 }
 .background-leftbar {
  position: absolute;
  top: 100px;
  bottom: 0px;
  width: 300px;
  height: 400px;
  background: #ffeeba;
  border-radius: 10px;
 }
 .background-leftbar *{
  text-align:left;
  margin-left: 10px;
 }
 .serch_window{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 500px;
  height: 50px;
  background: #ffeeba;
 }
 .serch_window *{
  font-size: 150%;
  margin-top: 10px;
  margin-left: 10px;
  background: #ffeeba;
 }
