<!DOCTYPE html>
<html>  
    <head>
        <meta charset = "UTF-8">
        <title> Puttitto_work </title>
        <link rel="stylesheet" type="text/css" href="Puttitto_work.css">
    </head>
    <body style="background-color: #ffb84d; ">
        <div id = "app">
            <div class="serch_window">
                <input type="text"  size="30">
                <a href = ""  onclick="" style="margin-left: 60px;">検索</a>
            </div>
             
            <div class="contents" >
            <button class="reshipi" v-for="content in Contents_js" type="button">   
                <img src="../image/55f1cd20ee9b1f3be4a4b4ef0c30029f" style="width:300px; height: 160px; margin-left: -5px;">
                <h1 style="font-size: 20px; margin-left: 5px; margin-top: 0px; margin-bottom: 0px;">{{content.title}}</h1><br>
                <p style=" font-size: 17px; margin-top: -20px;">{{content.message}}</p>
            </button>
            </div>
            
            <div class="account-tag">
                <h1 onclick = "acount_Click();" style="font-size: 30px; color: #674f49; margin-top: -2px;">アカウント1</h1>
                <p style="margin-top: -20px;">fdafafddaf@gmail.com</p>
                <img src="../image/illustration-free-01.jpg" class="account-image">
            </div>
    
            <div class="background-leftbar">
                <a onclick="news_Click();" style="color: #4c8d42;" href = ""><b>ニュース<br></b></a>
                <a onclick="news_Click();" style="color: #a16e55;" href = ""><b>今日のごはん<br></b></a>
                <a onclick="news_Click();" style="color: #da8c5e;" href = ""><b>マイリスト<br></b></a>
            </div>
            
            <button class="recipe_creation" href="" id="レシピ作成"><b>レシピ作成</b></button>
            
            <div v-bind:style ="{display:dm}">
                <div class = "make_recipe_back">
                </div>
                <div class="make_recipe">
                    <button id="Close"><h1 style="color:#ffeeba;">Close</h1></button>
                    <div style="margin-top: 20px; margin-left: 10px;">
                        <h1 style="font-size:20px">料理名</h1>
                        <input type="text" class="input_title" v-model="input_title">
                    </div>
                    
                    <div style="margin-top: 20px; margin-left: 10px;">
                        <h1 style="font-size:20px">コメント</h1>
                        <input type="text" class="input_title" v-model = "input_comment">
                    </div>

                    <input type="file" name="file" id="up_image" multiple>
                    <div id = "preview"></div>
                    

                    <button id="投稿"><h1 class="make_recipe_post">投稿</h1></button>
                </div>    
            </div>
        </div>
        
        <script src ="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>    
        <script type="text/javascript" src ="index.js" ></script> 
    </body>
</html>
