 /*****************************/
 /*アカウントボタン関連*/
 /*****************************/
 .account-tag {
   /*
   position: absolute;
   top: 0px;
   bottom: 0px;
   */
   position: absolute;
   top: 10px;
   width: 300px;
   height: 70px;
   background: #ffeeba;
   border-radius: 10px;
 }
 .account-tag *{
  margin-left: 60px;
 }
 .account-image{
  position: absolute;
  width: 50px; 
  height: 50px;
  left: -55px;
  top: 10px;
 }

 /*****************************/
 /*コンテント表示*/
 /*****************************/
 .contents{
  position: absolute;
  top: 100px;
  left: 350px;
  width: 74%;
  height: 80%;
  /*background-color: #ffeeba;*/   
  overflow-y: scroll;
 } 
 .contents *{
   display: inline-block;
 }
 .reshipi {
   width: 300px;
   height: 220px;
   background-color: #ffeeba;
   margin-bottom: 20px;
   margin-left: 5px;
   text-align: left;
 }

 /*****************************/
 /*左メニュー関連*/
 /*****************************/
 .background-leftbar {
  position: absolute;
  top: 100px;
  bottom: 0px;
  width: 300px;
  height: 400px;
  background: #ffeeba;
  border-radius: 10px;
 }
 .background-leftbar *{
  text-align: left;
  margin-left: 10px;
  font-size: 30px;
 }

 /*****************************/
 /*検索関連*/
 /*****************************/
 .serch_window{
  border-radius: 10px;
  margin-left: 350px;
  margin-right: auto;
  margin-top: 15px;
  width: 500px;
  height: 50px;
  background: #ffeeba;
 }
 .serch_window *{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  background: #ffeeba;
  border: none; 
  outline: none;
 }

 /*****************************/
 /*レシピ作成ボタン*/
 /*****************************/
 .recipe_creation{
  position: absolute;
  border-radius: 10px;
  top: 22px;
  left: 1000px;
  width: 150px;
  height: 40px;
  background-color: #ffeeba;
  font-size: 20px;   
 }

 /*****************************/
 /*レシピ投稿フォーム関連*/
 /*****************************/
 .make_recipe_back{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.5;
 }
 .make_recipe{
   position: absolute;
   border-radius: 10px;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   background-color:  #ffb84d;
   width: 400px;
   height: 600px;
 }
 .input_title{
   background-color: #ffeeba;
   width: 350px;
   font-size: 20px;
   border-radius: 10px;
   border: none;
   outline: none;
 }
 .make_recipe_post{
  margin-left: auto;
  margin-right: auto;
  background-color: #ffeeba;
  width: 100px;
  border-radius: 10px;
 }
 #preview img {
  width: 200px;
  margin: 10px;
  border: solid 1px silver;
}

/*****************************/
/*フォント、ボタン関連*/
/*****************************/
 a{
  text-decoration: none;
 }
 button{
  border: none;  /* 枠線を消す */
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent;
 }
